{% extends  'base.html'%}

{% block content %}
<h4>Welcome  {{user.username}} </h4>


{% include 'includes/alerts.html' %}





<div class="html"><!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Restraunt</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
       
      <nav class="navbar">
        <div class="navbar-container container">
    
            <div class="hamburger-lines">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </div>
            <ul class="menu-items">
                <li><a href="#home">Home</a></li>
                <li><a href="#food">Category</a></li>
            </ul>
            <h1 class="logo">Restaurant</h1>
        </div>
    </nav>
      <section class="showcase-area" id="showcase">
        <div class="showcase-container">
          <h1 class="main-title" id="home">Eat Right Food</h1>
          <p>Eat Healty, it is good for our health.</p>
          <a href="#food-menu" class="btn btn-primary">Menu</a>
        </div>
      </section>
    
      <section id="food">
        <h2>Types of food</h2>
        <div class="food-container container">
          <div class="food-type fruite">
            <div class="img-container">
              <img decoding="async" src="https://i.postimg.cc/yxThVPXk/food1.jpg" alt="error" />
            </div>
          </div>
          <div class="food-type vegetable">
            <div class="img-container">
              <img decoding="async" src="https://i.postimg.cc/Nffm6Rkk/food2.jpg" alt="error" />
            </div>
          </div>
          <div class="food-type grin">
            <div class="img-container">
              <img decoding="async" src="https://i.postimg.cc/76ZwsPsd/food3.jpg" alt="error"/>
            </div>
          </div>
        </div>
      </section>
      <section id="food-menu">
        <h2 class="food-menu-heading">Food Menu</h2>
        <div class="food-menu-container container">
          <div class="food-menu-item">
            <div class="food-img">
              <img decoding="async" src="https://t3.ftcdn.net/jpg/07/64/77/80/240_F_764778073_SW3m3T7944YKrJkS9QVNLONf1Qlssbi2.jpg" alt="" />
            </div>
            <div class="food-description">
              <h2 class="food-titile">Paneer butter masala</h2>
              <p>
                Paneer Butter Masala: Creamy, rich, and tangy paneer in a buttery, spiced tomato gravy—perfect with naan!
              </p>
              <p class="food-price">Price: &#8377; 250</p>
            </div>
          </div>
    
          <div class="food-menu-item">
            <div class="food-img">
              <img decoding="async" src="https://as2.ftcdn.net/v2/jpg/07/64/51/35/1000_F_764513560_UmI4WkV4qOb4KT58oyNm16HYlXxOSc3v.jpg" alt="" />
            </div>
            <div class="food-description">
              <h2 class="food-titile">Special daal</h2>
              <p>
                Superb dal with perfect spices, creamy texture, aur authentic taste jo aapko zaroor pasand aayega.
              </p>
              <p class="food-price">Price: &#8377; 250</p>
            </div>
          </div>
          <div class="food-menu-item">
            <div class="food-img">
              <img decoding="async" src="https://as2.ftcdn.net/v2/jpg/08/53/50/17/1000_F_853501770_UMo0E98sgPGlMIla2oma1zeSQMqKZ2iq.jpg" alt="error" />
            </div>
            <div class="food-description">
              <h2 class="food-titile">Rajma</h2>
              <p>
                Masaledar aur creamy rajma, dhaniya, aur adrak ke saath. Perfectly cooked, khushbudar aur swad mein zabardast.
              </p>
              <p class="food-price">Price: &#8377;175</p>
            </div>
          </div>
          <div class="food-menu-item">
            <div class="food-img">
              <img decoding="async" src="https://as1.ftcdn.net/v2/jpg/01/86/33/72/1000_F_186337209_9rbcMLu3wGCDNaEoK1jO0aNzb0pv7Xs7.jpg" alt="error" />
            </div>
            <div class="food-description">
              <h2 class="food-titile">Dosa</h2>
              <p>
                Crispy aur golden dosa, jo sambhar aur coconut chutney ke saath best lagta hai. South Indian breakfast ka classic choice! </p>
              <p class="food-price">Price: &#8377;75</p>
            </div>
          </div>
          <div class="food-menu-item">
            <div class="food-img">
              <img decoding="async" src="https://t4.ftcdn.net/jpg/07/48/18/97/240_F_748189729_a2bA2Gfhhh7DEa8G2ATCjnCaxQX3lQ1R.jpg" alt="" />
            </div>
            <div class="food-description">
              <h2 class="food-titile">Veg Burger</h2>
              <p>
                veg burger with crispy patty, fresh veggies, aur tasty sauces jo aapko bahut pasand aayega.
              </p>
              <p class="food-price">Price: &#8377;69</p>
            </div>
          </div>
          <div class="food-menu-item">
            <div class="food-img">
              <img decoding="async" src="https://images.unsplash.com/photo-1601050690597-df0568f70950?w=500&amp;auto=format&amp;fit=crop&amp;q=60&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGluZGlhbiUyMGZvb2R8ZW58MHx8MHx8fDA%3D" alt="" />
            </div>
            <div class="food-description">
              <h2 class="food-titile">Samosa</h2>
              <p>
                Crunchy samosa with spicy filling, crispy outside aur perfect chutney ke saath, ekdum tasty!
              </p>
              <p class="food-price">Price: &#8377; 20</p>
            </div>
          </div>
          <div class="food-menu-item">
            <div class="food-img">
              <img decoding="async" src="https://images.unsplash.com/photo-1606491956689-2ea866880c84?w=500&amp;auto=format&amp;fit=crop&amp;q=60&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGluZGlhbiUyMGZvb2R8ZW58MHx8MHx8fDA%3D" alt="" />
            </div>
            <div class="food-description">
              <h2 class="food-titile">Pav bhaji</h2>
              <p>
                Zabardast pav bhaji with spicy, buttery bhaji aur soft pav, ekdum flavorful aur delicious!
              </p>
              <p class="food-price">Price: &#8377; 85</p>
            </div>
          </div>
          <div class="food-menu-item">
            <div class="food-img">
              <img decoding="async" src="https://plus.unsplash.com/premium_photo-1691030658159-e8e29b2b12b9?w=500&amp;auto=format&amp;fit=crop&amp;q=60&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fGluZGlhbiUyMGZvb2R8ZW58MHx8MHx8fDA%3D" alt="" />
            </div>
            <div class="food-description">
              <h2 class="food-titile">Pani-Puri</h2>
              <p>
                Khatti-meethi pani puri with tangy water, crispy puris aur spicy filling, perfect chaat experience
              </p>
              <p class="food-price">Price: &#8377; 25</p>
            </div>
          </div>
        </div>
      </section>
      
    
    
    
    </body>
    </html>


{% endblock %}